.header_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  padding: 20px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Hallowed Grounds";
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.header_container.hidden {
  transform: translateY(-100%);
}

.header_container.visible {
  transform: translateY(0);
}

.link {
  position: relative;
  font-size: 30px;
  color: #fff;
  text-shadow: 4px 4px 4px #000;
  font-weight: 500;
  margin-left: 40px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
